:root {
    --color_Principal_Fuente:black;
    --color_Secundario_Fuente:white;

    --color_Principal: rgb(127, 208, 255);
    --color_Secundario: rgb(38, 78, 255);
}

.mapa{
    width: 50%;
    margin: auto;
}
.mapa h3{
    text-align: center;
}
.mapa iframe{
    width: 90%;
    margin-left: 5%;
}

@media(max-width:870px){
    
    .mapa{
        width: 100%;
    }
    .mapa iframe{
        width: 100%;
        margin-left: 0;
        height: 300px;
    }

}