:root {
    --color_Principal_Fuente:black;
    --color_Secundario_Fuente:white;

    --color_Principal: rgb(127, 208, 255);
    --color_Secundario: rgb(38, 78, 255);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.top {
    margin-bottom: -0.5rem;
    padding: 0px 20px 10px 20px;
}
.top img{
    width: 200px;
}
.ingresar{
    display: flex;
    float: right;
    margin-top: -70px;
}
.ingresar a{
    padding: 0px 8px;
    font-weight: bold;
}

.menu {
    background: var(--color_Secundario);
    margin-bottom:20px ;
    padding: 10px;
    box-shadow: 0px 5px 10px 1px black;
    min-height: 30px;
}

.menu_nav li {
    display: inline-block;
}

.menu_nav ul li a {
    padding: 13px;
    font-size:18px;
    font-weight:600;
    color: var(--color_Secundario_Fuente);
}

.menu_nav ul li a:hover,
.active {
    text-decoration: underline 2px;
}

#check{
    display: none;
}
.checkbtn{
    float: right;
    margin: -10px 20px;
    font-size: 23px;
    color:var(--color_Secundario_Fuente);
    z-index: 3;
    visibility: hidden;
}


@media(max-width:870px){
    .top img{
        width: 150px;
    }

    /*Barra nav*/
    .checkbtn{
        display: block;
        visibility: visible;
    }
    .menu_nav{
        position: fixed;
        background:var(--color_Secundario);
        height: calc(50vh);
        width: 100vw;
        text-align: right;
        left: -100%;
        transition: all .3s;
        border-radius: 10px;
    }

    .menu_nav li a{
        font-size: 30px;
    }
    .menu ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    #check:checked ~ .menu_nav{
        left: -65%;
    }
}
