:root {
    --color_Principal_Fuente:black;
    --color_Secundario_Fuente:white;

    --color_Principal: rgb(127, 208, 255);
    --color_Secundario: rgb(38, 78, 255);
}

.main{
    width: 50%;
    margin: auto;
    text-align: center;
}
form{
    border: 2px solid black;
}
.datos, .contrasenas {
    display: block;
}
.datos div, .contrasenas div{
    margin: 20px;
}
.btn_cambiar {
    width: 80px;
    color: white;
    padding: 5px;
    background:var(--color_Secundario) ;
    border: var(--color_Secundario);
}

.miperfil{
    display: flex;
    float: right;
    margin-top: -70px;
}
.miperfil a{
    padding: 0px 8px;
    font-weight: bold;
}

@media (max-width:874px) {
    .datos, .contrasenas{
        display: block;
    }
    
}