:root {
    --color_Principal_Fuente:black;
    --color_Secundario_Fuente:white;

    --color_Principal: rgb(127, 208, 255);
    --color_Secundario: rgb(38, 78, 255);
}

*{
    text-decoration: none;
    text-shadow: 0.1px 0.1px 0.1px black;
}
a{
    text-decoration: none;
}
.card{
    width: 18rem;
    height: 400px;
}
.card-body>p{
    height: 70px;
}

.card img{
    height: 180px;
}

h2{
    color: var(--color_Secundario);
    text-shadow: 1px 1px 1px rgb(25, 218, 244);
}