:root {
    --color_Principal_Fuente:black;
    --color_Secundario_Fuente:white;

    --color_Principal: rgb(127, 208, 255);
    --color_Secundario: rgb(38, 78, 255);
}

.main{
    width:50%;
    margin: auto;

}

.agendar{
    margin:20px 0 40px 0;
    padding: 20px;
    box-shadow: 5px 5px 10px 1px black;
    background: var(--color_Secundario);
    color: var(--color_Secundario_Fuente);
    display: flex;
    justify-content: space-around;
}
.agendar input, .agendar select{
    width: 200px;
}
.agendar img{
    margin: 20px auto;
    width: 200px;
    padding: 10px 15px;
    border-radius:10px ;
    background: white;
}

.btn_enviar{
    width: 100px;
    color: var(--color_Secundario);
    background:var(--color_Secundario_Fuente) ;
    border-color: var(--color_Secundario_Fuente);
    border-radius: 1px;
    height: 40px;
}

@media(max-width:874px){
    .agendar img{
        display: none;
    }
    .agendar input, .agendar select{
        width: 150px;
    }
}
